// poner todos los colores para ser reutilizables y ante un cambio de diseño solo movemos esta variable.
$button-background-color-modal: #2C2B2B;
$button-text-color-modal: #FFFFFF;


$sky-light: #E3E5E5;
$sky-dark: #9e9e9e;

/*
    Modal messages
*/

$modal-message-color: #94A1B1;


/*
    Palette colors
*/

$primary: #002be3;
$secondary: #0075c9;
$terciary: #002e6d;
$primary-secondary: #002D69;

$tertiary: #6091F5;


$green-aqua: #33a3aa;
$green-aqua-1: #56a0c9;

$white: #ffffffff;
$white-1: #ffffffde;
$white-2: #f9f9f9;
$white-3: #f9f9fa;
$white-4: #fafafa;

$black: #000000;
$black-1: #22242c;
$black-2: #2a2a2d;

$grey: #646464;
$black-grey: #4E4E4E;
$error-red: #cc3d3d;
$green-positive: #37b65d;

$background-color-button-black: #2c2b2b;

$background-color-button-clean: #d5e0ef;
$color-text-button-clean: #54617a;


$color-title-modal: #140000;
$color-text-secondary: #9c9c9c;

$input-color: #777777;
$select-color-material: #84818a;

$text-color-blue-dark: #293340;

$placeholder-grey: #f9f9fa;
$text-description: #878787;




$text-label: #A7AFB7;

$text-message: #939393;



/* 
    bottomSheet
*/

$button-cancel-text-color: #ee8b8b;


/*
    Borders colors;
*/



$border-input-color: #D4D4D4;
$border-button-color: $black-2;
$border-select-material: #dcdbdd;
$border-input-focus-color: #d9f2ff;
$border-color-separator-accordion: #efeff2;