
// podes poner los tamaños de las letras line height y todo los que este relacionado a tamaño, dejalo comentado com oun titulo : =>


/*
    *Resoluciones de pantallas (Screen resolutions)
*/
$screen-xs: 480px;
$screen-sm: 766px;
$screen-md: 1024px;
$screen-lg: 1025px;


