@keyframes opacity {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@mixin hoverButton($width,$height){
  &::before {
    content: "";
    position: absolute;
    background-color: transparent;
    transition: all 0.3s;
    width: $width;
    height: $height;
    border-radius: 9999px;
  }
  &:hover::before {
    background-color: #0000000f;
    transform: scaleY(2) scaleX(2);
    cursor: pointer;
  }
  &:active::before {
    background-color: #0000001f;
  }
}

.card-table{
  color: #54617A;
  white-space: pre;
  padding: 0.69rem 0.75rem 0.63rem 0.88rem ;
  border-top: 1px solid #F0F3F8;
  background: #FFF;
  position: relative;
  &:nth-child(2n){
    background-color: rgb(249, 249, 249);
    border-right: 1px solid #F0F3F8;
    border-left: 1px solid #F0F3F8;
  }
  &:last-child{
    border-bottom: 1px solid #F0F3F8;
  }
  &__information{
    display: flex;
    flex-direction: column;
    gap: 0.62rem;
    &-primary{
      font-size: 0.875rem;
      font-weight: 500;
      @media (max-width: 768px) {
        display: none;
      }
    }
    &-secondary{
      font-size: 0.625rem;
      font-weight: 400;
    }
    &-dates{
      color: #A4A8B0;
      font-size: 0.625rem;
      font-weight: 400;
    }
  }
  &__menu{
    position: absolute;
    right: 0.58rem;
    top: 1.19rem;
    &-button{
      width: 0.16669rem; height: 0.75rem;
      background-position: right;
      padding-left: 1rem;
      display: block;
      background-repeat: no-repeat;
      @include hoverButton(0.16669rem, 0.75rem);
      &::before{
        right: -0.085rem;
        padding-left: .2rem;
        padding-right: .2rem;
      }
    }
    &-template{
      position: absolute;
      display: none;
      flex-direction: column;
      gap: 0.6rem;
      right: 1.4rem;
      bottom: 0;
      z-index: 10;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      width: 70vw;
      max-width: 20rem;
      padding: 0.75rem 0.63rem 0 0.63rem;
      &-info{
        font-size: 0.625rem;
        line-height: 0.8;
        &--key{
          font-weight: 600;
        }
        &--value{
          font-weight: 400;
        }
      }

      &-actions{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 2.8rem;
        border-top: 1px solid #F0F3F8;
        &-action{
          width: 0.875rem;
          height: 0.875rem;
          @include hoverButton(0.875rem, 0.875rem);
        }
      }
    }
    &-button:hover + &-template{
      display: flex;
      animation: opacity .2s linear 1;
    }
    &-template:hover{
      display: flex;
    }
  }
  &__state{
    position: absolute;
    right: 0.75rem; bottom: 0.62rem;
    line-height: 0.9;
    font-size: 0.75rem; font-weight: 500;
    &--pending{
      color: #8A8A8A;
    }
    &--paid{
      color: #8BC34A;
    }
    &--expired{
      color: #F52D56;
    }
  }

}